# 3x-ui Outbounds:nginx-vless Settings
XUI_OUTBOUND_NGINXVLESS_PATH_PREFIX="{FILL}"
## Optional
XUI_OUTBOUND_NGINXVLESS_SOCKET_DIR="run/3xui/outbounds/nginx-vless"
XUI_OUTBOUND_NGINXVLESS_SOCKET_NAME="main.sock"


