# Ergochat Settings
ERGO_NETWORK_NAME="IRCServer" # Should have container space or any illigal character
ERGO_DESCRIPTION="my irc server, hosted by ${MAIN_DOMAIN}"
ERGO_DOMAIN=irc.${MAIN_DOMAIN}
ERGO_SERVER_NAME=${ERGO_DOMAIN}
ERGO_TLS_PORT=6697
ERGO_WS_PORT=8097
# // encode your password using `echo -n yourpassword | docker run -i --entrypoint "/ircd-bin/ergo" ghcr.io/ergochat/ergo:stable genpasswd`(then escape dollar signs with another dollar sign)
ERGO_OPERS_ADMIN_PASSWORD="{FILL}"


