# 3x-ui Outbounds:nginx-vless-forti Settings
XUI_OUTBOUND_NGINXVLESSFORTI_PATH_PREFIX="{FILL}"
## Optional
XUI_OUTBOUND_NGINXVLESS_SOCKET_DIR="run/3xui/outbounds/nginx-vless-forti"
XUI_OUTBOUND_NGINXVLESS_SOCKET_NAME="main.sock"


