# TeleMT Settings
TELEMT_BIND=127.0.0.1
TELEMT_PORT=7444
TELEMT_DOMAIN=telemt.$MAIN_DOMAIN
TELEMT_WAIT_FOR_NGINX=true
## [general]
#TELEMT_LOGLEVEL="debug"
## [general.links]
TELEMT_PUBLIC_HOST=$TELEMT_DOMAIN
TELEMT_PUBLIC_PORT=$HTTPS_PORT
## [server]
TELEMT_PROXY_PROTOCOL=true
## [server.api]
TELEMT_API_ENABLED=true
TELEMT_API_BIND="127.0.0.1"
TELEMT_API_PORT=9091
TELEMT_API_READONLY=false
TELEMT_API_AUTHHEADER="Bearer {FILL}"
## [censorship]
TELEMT_TLS_DOMAIN=main.$MAIN_DOMAIN
## [[upstreams]]
#TELEMT_UPSTREAM_ENABLED=true
#TELEMT_UPSTREAM_ADDRESS="3xui:2080"
#TELEMT_UPSTREAM_USERNAME=
#TELEMT_UPSTREAM_PASSWORD=
## [access.users]
TELEMT_USER_USERNAME={FILL}
TELEMT_USER_PASSWORD={FILL}
#TELEMT_USER1_USERNAME=
#TELEMT_USER1_PASSWORD=


