# Continuwuity Settings
CONTINUWUITY_DOMAIN="matrix.${MAIN_DOMAIN}"
CONTINUWUITY_SOCKET_DIR=run/continuwuity
CONTINUWUITY_SOCKET_NAME=continuwuity.sock
CONTINUWUITY_SERVER_NAME="${CONTINUWUITY_DOMAIN}"
# Options
CONTINUWUITY_ALLOW_FEDERATION=false
CONTINUWUITY_ALLOW_REGISTRATION=true
CONTINUWUITY_REGISTRATION_TOKEN="{FILL}"
## Optimze
### https://continuwuity.org/advanced/dns#for-ipv4-only-users
CONTINUWUITY_IP_LOOKUP_STRATEGY=1


