# Microbin Settings
MICROBIN_DOMAIN=microbin.$MAIN_DOMAIN
MICROBIN_PORT=8001

MICROBIN_ENCRYPTION_CLIENT_SIDE=true
MICROBIN_ENCRYPTION_SERVER_SIDE=true
MICROBIN_HASH_IDS=true
MICROBIN_DISABLE_TELEMETRY=true


