# TeleMT-Panel Settings
TELEMTPANEL_DOMAIN=main.${MAIN_DOMAIN}
TELEMTPANEL_PORT=8082
TELEMTPANEL_PATH_PREFIX="sdasdh"
TELEMTPANEL_USERNAME="{FILL}"
TELEMTPANEL_PASSWORDHASH="{FILL}"
TELEMTPANEL_JWT_SECRET="{FILL}"


