# Flotilla Settings
FLOTILLA_DOMAIN=flotilla.$MAIN_DOMAIN
FLOTILLA_ROOT=/srv/http/flotilla
## Build settings - "None" means make it empty and "" means dont touch developer default!
FLOTILLA_DEFAULT_PUBKEYS="None" # or {FILL}
FLOTILLA_BLOSSOM_SERVERS="None"
FLOTILLA_POMADE_SIGNERS="None"
FLOTILLA_PLATFORM_URL=${FLOTILLA_DOMAIN}
FLOTILLA_BLOCKED_RELAYS=
FLOTILLA_INDEXER_RELAYS="None"
FLOTILLA_DEFAULT_RELAYS="None"
FLOTILLA_DEFAULT_MESSAGING_RELAYS="None"
FLOTILLA_SIGNER_RELAYS="None"


