# Zooid Settings
ZOOID_DOMAIN=zooid.${MAIN_DOMAIN}
ZOOID_PORT=3335
ZOOID_SECRET="{FILL-hex-value}"
ZOOID_NAME=ZooID
ZOOID_PUBKEY="{FILL-hex-value}"
ZOOID_CAN_PUBLIC_JOIN=true
ZOOID_ADMIN_PUBKEY="{FILL-hex-value}"


