# Livekit Settings
LIVEKIT_DOMAIN="livekit.${MAIN_DOMAIN}"
LIVEKIT_PORT=7880
#LIVEKIT_LOGGING_LEVEL=info
LIVEKIT_RTC_TCP_PORT=7881
LIVEKIT_RTC_PORT_RANGE_START=50000
LIVEKIT_RTC_PORT_RANGE_END=50100
# // Livekit sometimes needs to know the server real ip. use of of these options? (TODO: maybe we should check these in runtime and set automatically, or maybe livekit already does this)
#LIVEKIT_RTC_NODE_IP_IPV4=
LIVEKIT_RTC_USE_EXTERNAL_IP=true
## Builtin STUN/TURN server
#LIVEKIT_TURN_ENABLED=true
#LIVEKIT_TURN_DOMAIN="livekit.${MAIN_DOMAIN}"
#LIVEKIT_TURN_TLS_PORT=5349
#LIVEKIT_TURN_UDP_PORT=3478
#LIVEKIT_TURN_EXTERNAL_TLS=true
## Secrets
_LIVEKIT_KEY="{FILL}"
_LIVEKIT_SECRET="{FILL}"
LIVEKIT_KEYS="${_LIVEKIT_KEY}: ${_LIVEKIT_SECRET}"


