# Coturn Settings
COTURN_DOMAIN=coturn.${MAIN_DOMAIN}
COTURN_PORT=3478
COTURN_SSL_PORT=5349
COTURN_MIN_PORT=60000
COTURN_MAX_PORT=60100
# // generate it using `pwgen -s 64 1`
COTURN_STATIC_AUTH_SECRET="{FILL}"


