# Localsend Settings
LOCALSEND_DOMAIN=localsend.${MAIN_DOMAIN}
LOCALSEND_PORT=3002
LOCALSEND_ROOT=/srv/http/localsend
#LOCALSEND_SIGNALING_URL="wss://localsend.${MAIN_DOMAIN}:${HTTPS_PORT}/v1/ws" # if you need custom SIGNALING_URL for localsend-web


